.statistic {
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  font-style: italic;
}
.title {
  color: rgb(88, 88, 88);
  font-size: 2.4em;
}
.count {
  font-size: 0.8em;
  font-weight: 400;
  color: #0dcaf0;
}

@media (max-width: 946px) {
  .title {
    font-size: 2.1em;
  }
  .count{
    font-size: 0.7em;
  }
}

@media (max-width: 635px) {
}
