.networks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 32px;
  height: 32px;
}

.btn {
  width: 20%;
  margin-bottom: 1%;
}
@media (max-width: 990px) {
  .btn {
    width: 30%;
  }
  .icon {
    width: 23px;
    height: 23px;
  }
}

@media (max-width: 775px) {
  .btn {
    width: 35%;
    line-height: 0.4;
    padding: 3px;
  }
}

@media (max-width: 490px) {
  .btn {
    width: 40%;
  }

  .icon {
    width: 19px;
    height: 19px;
  }
}

@media (max-width: 350px) {
  .btn {
    width: 45%;
  }

  .icon {
    width: 16px;
    height: 16px;
  }
}
